{% extends 'base.html' %}
{% load litrevu_extras %}
{% block content %}
    <nav class="is-vcentered">
        <section class="section hero level-right">
            <div class="hero-body">
                <form method="post" class="subtitle">
                    {% include 'litrevu/partials/generic_form.html' with form=form %}
                    <button type="submit" class="title mt-3">
                        Se connecter
                    </button> 
                </form>
            </div>
        </section>
        <section class="section hero is-primary level-left">
            <div class="hero-body">
                <p class="subtitle">Pas encore membre ? </p>
                <a class="title" href="{% url 'signup' %}">Inscrivez-vous maintenant !</a>
            </div>
        </section>
    </nav>

{% endblock content %}