{% extends 'base.html' %}
{% load litrevu_extras %}
{% block content %}
    <div class="box ml-2">
        <h2 class="title is-2">Inscription</h2>
        <form method="post">
            {% csrf_token %}
            {% include 'litrevu/partials/generic_form.html' with form=form %}
            <div class="is-flex">
                <button class="button is-primary" type="submit">S’inscrire</button>
                <a href="{% url 'login' %}">
                    <div class="button is-light ml-2">Retour</div>
                </a>
            </div>
        </form>
    </div>
{% endblock content %}