{% extends 'base.html' %}

{% block content %}
    <section class="section">
        <div class="box has-text-centered">
            <p class="block is-size-3">Êtes-vous sûr de vouloir supprimer votre critique: {{ review.headline }} ?</p>
            <div class="block">
                <form class="block" action="" method="post">
                    {% csrf_token %}
                    <button class="button is-large is-danger" type="submit">Supprimer critique</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}