{% extends 'base.html' %}

{% block content %}
    <h2>{{ review.headline }}</h2>

    <ul>
        <li>Contenu : {{ review.body }}</li>
        <li>Note : {{ review.rating }}</li>
        <li>Ticket : {{ review.ticket }}</li>

        <li>Utilisateur : {{ review.user }}</li>
        <li>Heure de création : {{ review.time_created }}</li>
    </ul>

    <a href="{% url 'review-update' review.id %}">Modifier cette critique</a>
    <a href="{% url 'review-delete' review.id %}">Supprimer cette critique</a>
    <a href="{% url 'review-list' %}">Retour à toute les critiques</a>
{% endblock %}