{% extends 'base.html' %}

{% block content %}

<h1>Suivre d'autres utilisateurs</h1>

{% if form.errors %}
{{ form.errors }}
{% endif %}

<form method="post">
    <label for="your_name">Your name: </label>
    {% comment %} <input id="your_name" type="text" name="your_name" value="{{ current_name }}"> {% endcomment %}
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="OK">
</form>

<ul>
    {% for user in user_list %}
        <li>
            {{ user }}
        </li>
    {% endfor %}
</ul>

<h1>User Follows</h1>

<ul>
    {% for user_follows in user_follows_list %}
        <li>
            {{ user_follows.user }}, {{ user_follows.followed_user }}
        </li>
    {% endfor %}
</ul>

{% endblock %}