@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

/* p {
    background-color: rgba(177, 177, 177, 0.388);
}

a {
    button {
        color: black;
        min-height: 50px;
        min-width: 70px;
    }
} */