{% block content %}
{% load widget_tweaks %}


    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
    {% endfor %}
    
    {% if form.non_field_errors %}
    <div class="help is-danger">
        {% for error in form.non_field_errors %}
        {{ error }}
        {% endfor %}
    </div>
    {% endif %}
    
    {% for field in form.visible_fields %}
    <div class="field">
        <label class="label">{{ field.label_tag }}</label>
        
        {% if form.is_bound %}
            {% if field.errors %}
                {% render_field field class="control input is-danger" %}
                {% for error in field.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            {% else %}
                {% render_field field class="control input is-success" %}
            {% endif %}
        {% else %}
            DEBUG {{ field.label_tag }}
            {% render_field field class="control input" %}
        {% endif %}
        
        {% if field.help_text %}
        <small class="help has-text-primary-15">{{ field.help_text }}</small>
        {% endif %}
    </div>
    {% endfor %}


{% endblock content %}
