{% block content %}
{% load widget_tweaks %}


    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
    {% endfor %}
    
    {% if form.non_field_errors %}
    <div class="help is-danger">
        {% for error in form.non_field_errors %}
        {{ error }}
        {% endfor %}
    </div>
    {% endif %}
    
    {% for field in form.visible_fields %}
    <div class="field">
        <label class="label">{{ field.label_tag }}</label>
        
        {% if form.is_bound %}
            {% if field.errors %}
                <div class="control is-danger">
                    {% if field.widget_type == 'textarea' %}
                        {% render_field field class="textarea input" %}
                    {% elif field.widget_type == 'text' %}
                        {% render_field field class="input" %}
                    {% elif field.widget_type == 'number' %}
                        {% render_field field class="select" %}
                    {% elif field.widget_type == 'clearablefile' %}
                        {% render_field field class="input" %}
                        {% if field.value %}
                            <img class="mt-4" src="{{ field.value.url }}" alt="Miniature du média"/>
                        {% endif %}
                    {% else %}
                        {% render_field field class="input" %}
                    {% endif %}
                </div>
                {% for error in field.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            {% else %}
                <div class="control is-success">
                    {% if field.widget_type == 'textarea' %}
                        {% render_field field class="textarea input" %}
                    {% elif field.widget_type == 'text' %}
                        {% render_field field class="input" %}
                    {% elif field.widget_type == 'number' %}
                        {% render_field field class="select" %}
                    {% elif field.widget_type == 'clearablefile' %}
                        {% render_field field class="input" %}
                        {% if field.value %}
                            <img class="mt-4" src="{{ field.value.url }}" alt="Miniature du média"/>
                        {% endif %}
                    {% else %}
                        {% render_field field class="input" %}
                    {% endif %}
                </div>
            {% endif %}
        {% else %}
            {% comment %} DEBUG {{field.widget_type}} {% endcomment %}
            <div class="control">
                {% if field.widget_type == 'textarea' %}
                    {% render_field field class="textarea input" %}
                {% elif field.widget_type == 'text' %}
                    {% render_field field class="input" %}
                {% elif field.widget_type == 'number' %}
                    {% render_field field class="select" %}
                {% elif field.widget_type == 'clearablefile' %}
                    {% render_field field class="input" %}
                    {% if field.value %}
                        <img class="mt-4" src="{{ field.value.url }}" alt="Miniature du média"/>
                    {% endif %}
                {% else %}
                    {% render_field field class="input" %}
                {% endif %}
            </div>
        {% endif %}
        
        {% if field.help_text %}
            <small class="help has-text-primary-15">{{ field.help_text }}</small>
        {% endif %}
    </div>
    {% endfor %}


{% endblock content %}
