{% block content %}
    <div class="card">
        <header class="card-header has-background-primary">
            <p class="card-header-title">{{ ticket.title }}</p>
        </header>
        <div class="card-content">
            <div class="content">
                <p>{{ ticket.description }}</p>
                {% if ticket.image %}
                    <img class="card-image" src="{{ ticket.image.url }}" alt="Miniature du média">
                {% endif %}
                <br />
                
                <time>{{ticket.time_created}}</time>
                {% if request.user == ticket.user %}
                    <p> Vous avez demandé cette critique.</p>
                {% else %}
                    <p> {{ ticket.user }} a demandé cette critique.</p>
                {% endif %}
                
                
            </div>
        </div>
        {% if request.user == ticket.user or allow_add_review %}
            <footer class="card-footer">
                {% if allow_add_review %}
                    <a class="card-footer-item" href="{% url 'review-create' ticket.id %}">
                        <button class="button is-primary" type="button">Créer une critique</button>
                    </a>
                {% endif %}
                
                {% if request.user == ticket.user %}
                    <a class="card-footer-item" href="{% url 'ticket-update' ticket.id %}">
                        <button class="button is-light" type="button">Modifier</button>
                    </a>
                    <a class="card-footer-item" href="{% url 'ticket-delete' ticket.id %}">
                        <button class="button is-danger" type="button">Supprimer</button>
                    </a>
                    {% endif %}
                
            </footer>
        {% endif %}
    </div>

{% endblock content %}